<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordNet.Linq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordNet.Linq.Properties.Settings>
            <setting name="WordNet_ServerHost" serializeAs="String">
                <value>38.192.14.25</value>
            </setting>
            <setting name="WordNet_ServerPort" serializeAs="String">
                <value>49170</value>
            </setting>
        </WordNet.Linq.Properties.Settings>
    </userSettings>
</configuration>