<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stanford.CoreNLP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Stanford.NLP.Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stanford.CoreNLP.Properties.Settings>
            <setting name="CoreNLP_ServerHost" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="CoreNLP_ServerPort" serializeAs="String">
                <value>9000</value>
            </setting>
        </Stanford.CoreNLP.Properties.Settings>
        <Stanford.NLP.Parser.Properties.Settings>
            <setting name="CoreNLPServerAddress" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="CoreNLPServerPort" serializeAs="String">
                <value>9000</value>
            </setting>
        </Stanford.NLP.Parser.Properties.Settings>
    </userSettings>
</configuration>